.App {
	padding: 20px;
}

.sv-main {
	padding: 50px;
}

.sv_container {
	/* height: 500px; */
	padding: 50px;
}

.small {
	/* background-color: blue; */
	/* color: white; */
	font-weight: 800;
}
.sv_complete_btn {
	background-color: red !important;
	float: right;
}
